In [ ]:
# Variables

# This is a comment - any code commented out is not run -
# meaning that any code or text commented out is ignored.

"""
this is a multi-line comment
You can comment out many lines at once.
For the most part you will see single line comments
but it is good to see this.
As in single line comments, any code contained within multi-line comments are not run -
meaning that any code commented out is ignored.
"""

# Topic: Strings

# Create a variable named `subject` with no value (None).


# Assign a value of "Programmers to the variable `subject`.


# Create a variable, `first_name`, and assign it a value of an empty string.


# Assign a value of "Ada" to the variable `first_name`.


# Create a variable, `last_name`, and assign it a value of a string, "Lovelace".


# Create a variable, `full_name`, and assign it a value of the combination of `first_name` and `last_name` with a space.


# Create a variable, `profession`, and assign it a value of a string, "Computer Programmer".


# Create a variable, `known_for`, and assign it a value of a string, "First Computer Programmer".


# Create a variable, `first_algorithm`, and assign it a value of a string, "Analytical Engine".


# Create a variable, `city_location`, and assign it a value of a string, "London".


# Create a variable, `country_location`, and assign it a value of a string, "England".


# Create a variable, `nationality`, and assign it a value of a string, "British".



# Topic: Integers

# Create a variable, `birth_year`, and assign it with an integer of 1815.


# Create a variable, `death_year`, and assign it with an integer of 1852.


# Create a variable, `age_at_passing`, and assign it a value of death_year minus birth_year.


# Create a variable, `year_of_publish`, and assign it with an integer of 1842.



#Topic: Print

# Print: "First Name: " and `first_name`.


# Print: "Last Name: " and `last_name`.


# Print: "Profession: " and `profession`.


# Print: "BirthYear: " and `birth_year`.



#Topic: Concat Values

# Create and print a variable, `statement_one`, by assigning it a value of a concatenated string:
# "Programmers: Ada Lovelace is a British Computer Programmer born in 1815."


# Create and print a variable, `statement_two`, by assigning it a value of a concatenated string:
# "She is commonly referred to as the First Computer Programmer."


# Create and print a variable, `statement_three`, by assigning it a value of a concatenated string:
# "In 1842 she published the first Algorithm, the Analytical Engine, at the age of 27."


# Create and print a variable, `statement_four`, by assigning it a value of a concatenated string:
# "She was a British Citizen who lived in London, England until her passing in 1852 at the age of 37."

In [15]:
# Create a variable named `subject` with no value (None).
subject = (none)
# Assign a value of "Programmers to the variable `subject`.
subject = "Programmers"
#Create a variable, `first_name`, and assign it a value of an empty string
first_name = "  "
# Assign a value of "Ada" to the variable `first_name`.
first_name = "Ada"
# Create a variable, `last_name`, and assign it a value of a string, "Lovelace".
Last_name = "Lovelace"

In [18]:
# Create a variable, `full_name`, and assign it a value of the combination of `first_name` and `last_name` with a space.
full_name = first_name and Last_name
# Create a variable, `profession`, and assign it a value of a string, "Computer Programmer".
profession = "Computer Programmer"

In [42]:
# Create a list called 'farm' with the elements "pig", "cow", "chicken", "dog", "horse", "sheep".
list = [pig, cow, chicken, dog, horse. sheep]


# Write an if statement that prints the string "RWAR!" if the first element of farm is NOT "Godzilla".

# Write an else if statement that prints the string "SCREECH!" if the last element of farm is "Mothra".

# Else, print the string "This animal is neither Godzilla nor Mothra!".


# Declare a variable named 'dog' with a string of "Spot".

# Declare 3 variables `cat`, `city`, `car` without assigning them values.


# Assign the string "Farley" to `cat`.


# Assign the string "San Francisco" to `city`.


# Assign the string "Prius" to `car`.
car = 'Prius'


# Using string concatenation, print out the sentence "See Spot run!".


# Using string concatenation, print out the sentence "I drive Farley around San Francisco in my Prius".


# Declare a variable budget and assign it a value of 5000.


# Declare a variable rent_cost and assign it a value of 1500.


# Declare a variable utilities_cost and assign it a value of 150.


# Declare a variable food_cost and assign it a value of 250.


# Declare a variable transportation_cost and assign it a value of 350.


# Declare a variable computer_cost and assign it a value of 2000.


# Declare a variable called total_cost that takes the sum of all costs above (excluding budget).


# Write an if statement that checks whether the sum of all our costs is within the budget.
# If so, print "You're total cost is " concatentated with the `total_cost` variable.
# Else, print "You're over budget by " concatenated with the difference between `budget` and `total_cost`.


# Write an if statement that checks whether the rent_cost is larger than the sum of the `utilities_cost`, `food_cost`,
# and `transportation_cost`. If so, print a string that says "The rent is too damn high!".

NameError: name 'pig' is not defined

In [22]:
# Create a list called 'farm' with the elements "pig", "cow", "chicken", "dog", "horse", "sheep".
farm = ['pig','cow','chicken','dog','horse','sheep']

In [31]:
# Write an if statement that prints the string "RWAR!" if the first element of farm is NOT "Godzilla".
if farm [0] != "Godzilla":
    print("Rawrr!")

SyntaxError: invalid syntax (Temp/ipykernel_26992/3715007897.py, line 4)

In [ ]:
# Write an else if statement that prints the string "SCREECH!" if the last element of farm is "Mothra".
elsif farm [-1] =="Mothra":
    print("SCREECH!")
print()

In [33]:
# Else, print the string "This animal is neither Godzilla nor Mothra!".
else:
    print ("This animal is neither Godzilla nor Mothra!")

SyntaxError: invalid syntax (Temp/ipykernel_26992/126297805.py, line 2)

In [36]:
# Declare a variable named 'dog' with a string of "Spot".
dog = 'spot'
# Declare 3 variables `cat`, `city`, `car` without assigning them values.
cat = ' '
city = ' '
car = ' '

In [51]:

# Assign the string "Farley" to `cat`.
cat = 'Farley'
# Assign the string "San Francisco" to `city`.
city = 'San Fransico'
# Assign the string "Prius" to `car`.
car = 'Prius'
# Using string concatenation, print out the sentence "See Spot run!".
print(f'See {dog} run!')

See spot run!

In [49]:
# Using string concatenation, print out the sentence "I drive Farley around San Francisco in my Prius".
print(f'I drive {cat} around {city} in my {car}')

I drive Farley around San Fransico in my Prius

In [53]:
# Declare a variable budget and assign it a value of 5000.
budget = 5000
# Declare a variable rent_cost and assign it a value of 1500.
rent_cost = 1500